/* Add this to your existing header.css or create a new CSS file */

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  /* width: 22%; Adjust the width as needed */
  height: 100%;
 
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* border-radius: 12px; */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu ul {
  list-style: none;
  padding:50px 20px;
}

.mobile-menu li {
  margin-bottom: 15px;
}

.mobile-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
  
}

.mobile-menu a:hover {
  color: #007bff;
}

/* Show the menu when open */
.mobile-menu-open {
  transform: translateX(0);
}
